{"level": "DEBUG", "timestamp": "2025-04-25T13:23:08-03:00", "logger": "my_app", "module": "app", "function": "main", "line": 17, "thread_name": "MainThread", "message": "debug message", "name": "my_app", "msg": "debug message", "args": null, "levelname": "DEBUG", "levelno": 10, "pathname": "C:\\Users\\caua.rocha\\Documents\\PythonPlan\\Web\\back-end\\python-logging\\app.py", "filename": "app.py", "exc_info": null, "exc_text": null, "stack_info": null, "lineno": 17, "funcName": "main", "created": 1745598188.1619978, "msecs": 161.0, "relativeCreated": 61.208248138427734, "thread": 25228, "threadName": "MainThread", "processName": "MainProcess", "process": 5408, "x": "hello"}